header {
  background-color: rgb(47, 124, 247);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
}

h1 {
  font-size: 30px;
  padding: 0.3em;
  padding-bottom: 0;
}

.login-info {
  display: grid;
  grid-template-columns:2fr 1.5fr 1fr;
}

h2 {
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
  padding-bottom: 0.2em;
}