header {
    background-color: rgb(47, 124, 247);
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  h1 {
    font-size: 30px;
    padding: 0.8em;
    padding-bottom: 0;
  }
  h2 {
    text-align: right;
    font-size: 12px;
    padding-bottom: 1em;
    padding-right: 0.4em;
  }