.match-results {
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 20px;
    padding-bottom:8px;
  }

  .star {
    width: 10vw;
    padding: 4px;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }