.match-results {
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 8px;
    padding-bottom:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .star {
    width: 10vw;
    padding: 4px;
  }