body {
  width: 350px;
  height: 500px;
}

.App {
  text-align: center;
}

header {
  font-size: 30px;
  padding: 0.8em;
  background-color: rgb(47, 124, 247);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.match-results {
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
  padding-top: 20px;
  padding-bottom:8px;
}

.rating {
  width: 10vw;
  padding: 4px;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

